In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv', index_col=0)
df.head()

,Market,Day,Stock,x0,x1,x2,x3A,x3B,x3C,x3D,x3E,x4,x5,x6,y,Weight
Index,,,,,,,,,,,,,,,,
0,1,1,363,0.002696,0.530040,0.400810,1.300048e-06,4.639533e-06,1.073594e-05,2.180516e-05,4.416943e-05,0.002212,6.214737e-07,200.000000,-0.000196,1.533780
1,1,1,1223,0.081093,1.366218,1.325157,1.656861e-05,3.024668e-05,5.261872e-05,4.193762e-05,4.193762e-05,0.010932,3.414868e-05,300.000000,-0.003798,0.843604
2,1,1,1372,0.009561,0.464871,0.328008,6.500872e-08,2.323204e-07,5.182686e-07,1.080834e-06,2.030442e-06,0.000306,4.079460e-08,159.692076,-0.000003,29.824024
3,1,1,1942,0.045300,0.608222,0.456662,1.928694e-08,6.495275e-08,1.338509e-07,2.644214e-07,6.980798e-07,0.000205,9.502066e-09,212.160378,-0.000008,100.388668
4,1,1,2712,0.001605,0.476718,0.205069,6.759866e-07,2.638783e-06,6.424519e-06,1.189923e-05,2.064450e-05,0.001525,3.428403e-07,153.724351,0.000065,5.950714

In [3]:
np.where(df['y'].values < 0)[0].size # we have negative values, so lets not use sigmoid...

266689

In [4]:
sdf = df.groupby('Stock')
sdf.count().head()

,Market,Day,x0,x1,x2,x3A,x3B,x3C,x3D,x3E,x4,x5,x6,y,Weight
Stock,,,,,,,,,,,,,,,
0,137,137,137,137,137,137,137,137,137,137,137,137,137,137,137
1,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44
2,251,251,251,251,251,251,251,251,251,251,251,251,251,251,251
3,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255
4,247,247,247,247,247,247,247,247,247,247,247,247,247,247,247

In [5]:
sdf = sdf.shift()
sdf.fillna(0, inplace=True)
sdf.head()

,Day,Market,Weight,x0,x1,x2,x3A,x3B,x3C,x3D,x3E,x4,x5,x6,y
Index,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
shifted_X = sdf.loc[:, 'x0':'x6']
print(shifted_X.head())
shifted_X = shifted_X.values

        x0   x1   x2  x3A  x3B  x3C  x3D  x3E   x4   x5   x6
Index
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [7]:
df.fillna(0, inplace=True)
X, y = df.loc[:, 'x0':'x6'], df.loc[:,'y']
X.head()

,x0,x1,x2,x3A,x3B,x3C,x3D,x3E,x4,x5,x6
Index,,,,,,,,,,,
0,0.002696,0.530040,0.400810,1.300048e-06,4.639533e-06,1.073594e-05,2.180516e-05,4.416943e-05,0.002212,6.214737e-07,200.000000
1,0.081093,1.366218,1.325157,1.656861e-05,3.024668e-05,5.261872e-05,4.193762e-05,4.193762e-05,0.010932,3.414868e-05,300.000000
2,0.009561,0.464871,0.328008,6.500872e-08,2.323204e-07,5.182686e-07,1.080834e-06,2.030442e-06,0.000306,4.079460e-08,159.692076
3,0.045300,0.608222,0.456662,1.928694e-08,6.495275e-08,1.338509e-07,2.644214e-07,6.980798e-07,0.000205,9.502066e-09,212.160378
4,0.001605,0.476718,0.205069,6.759866e-07,2.638783e-06,6.424519e-06,1.189923e-05,2.064450e-05,0.001525,3.428403e-07,153.724351

In [8]:
X, y = X.values, y.values

In [9]:
diff_X = np.divide(X - shifted_X, X, out=np.zeros_like(X), where=X!=0)
diff_X.shape

(623817, 11)

In [10]:
Xx = np.concatenate((X, diff_X), axis=1)
print("%s + %s = %s" % (X.shape, diff_X.shape, Xx.shape))

(623817, 11) + (623817, 11) = (623817, 22)

In [11]:
X = Xx
print(np.where(np.isnan(X)))
print(np.where(y > 1))
print(np.where(y < -1))

(array([], dtype=int64), array([], dtype=int64))
(array([], dtype=int64),)
(array([], dtype=int64),)

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1, 1))
scaler.fit(X)
print(scaler.data_max_)
X_std = scaler.transform(X)

[4.99827504e+06 2.94626390e+03 6.77912473e+02 2.83150876e-02
 6.51416194e-02 1.09440456e-01 2.06560350e-01 3.61169254e-01
 1.02200000e-01 3.58925753e-02 7.34914405e+05 1.00000000e+00
 1.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 1.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 1.00000000e+00 1.00000000e+00]

In [13]:
print(X.shape)
print(X_std.shape)
X_train = X_std.reshape(X_std.shape[0], 1, X_std.shape[1])

(623817, 22)
(623817, 22)

In [14]:
from keras.models import Sequential

/home/lambda/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [46]:
from keras.layers import Dense, Activation, LSTM, Dropout, LeakyReLU

In [47]:
model = Sequential()
batch_size = 128

In [48]:
_ = X_train.shape[0] // batch_size * batch_size
X_train = X_train[:_, :, :]
y_train = y[:_]
print(X_train.shape)
print(y_train.shape)

(623744, 1, 22)
(623744,)

In [49]:
model.add(LSTM(32, input_shape=(X_train.shape[1], X_train.shape[2]), activation='tanh', return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(64, return_sequences=False))
model.add(Dropout(0.2))

In [50]:
model.add(Dense(1))
model.add(Activation('tanh'))

In [51]:
# lets use rmse
from keras import backend as K

def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1))

In [52]:
model.compile(loss=root_mean_squared_error, optimizer='adam')

In [53]:
model.fit(X_train, y_train, epochs=10, batch_size=batch_size * 2, shuffle=True)

Epoch 1/10
623744/623744 [==============================] - 12s 19us/step - loss: 5.8547e-04
Epoch 2/10
623744/623744 [==============================] - 11s 18us/step - loss: 4.3876e-04
Epoch 3/10
623744/623744 [==============================] - 12s 19us/step - loss: 4.2832e-04
Epoch 4/10
623744/623744 [==============================] - 12s 19us/step - loss: 4.2681e-04
Epoch 5/10
623744/623744 [==============================] - 11s 18us/step - loss: 4.2692e-04
Epoch 6/10
623744/623744 [==============================] - 11s 17us/step - loss: 4.2671e-04
Epoch 7/10
623744/623744 [==============================] - 11s 17us/step - loss: 4.2751e-04
Epoch 8/10
623744/623744 [==============================] - 11s 17us/step - loss: 4.2686e-04
Epoch 9/10
623744/623744 [==============================] - 11s 18us/step - loss: 4.2605e-04
Epoch 10/10
623744/623744 [==============================] - 11s 17us/step - loss: 4.2629e-04

In [54]:
# We can see that training has had its effect short term. Let's save a model and continue training
model.save('d_lstm_10.hd5')

In [70]:
model2 = load_model('d_lstm_10.hd5')
# this time lets train for 10 more epochs but quadruple batch size so im not sitting here forever
model2.fit(X_train, y_train, epochs=10, batch_size=batch_size * 2, shuffle=True, validation_split=0.25)

Train on 467808 samples, validate on 155936 samples
Epoch 1/10
467808/467808 [==============================] - 10s 22us/step - loss: 4.3624e-04 - val_loss: 3.9695e-04
Epoch 2/10
467808/467808 [==============================] - 9s 20us/step - loss: 4.3617e-04 - val_loss: 4.1959e-04
Epoch 3/10
467808/467808 [==============================] - 9s 20us/step - loss: 4.3663e-04 - val_loss: 3.8310e-04
Epoch 4/10
467808/467808 [==============================] - 9s 20us/step - loss: 4.3584e-04 - val_loss: 3.8973e-04
Epoch 5/10
467808/467808 [==============================] - 9s 20us/step - loss: 4.3558e-04 - val_loss: 3.8986e-04
Epoch 6/10
467808/467808 [==============================] - 9s 19us/step - loss: 4.3686e-04 - val_loss: 3.9465e-04
Epoch 7/10
467808/467808 [==============================] - 9s 20us/step - loss: 4.3544e-04 - val_loss: 3.9299e-04
Epoch 8/10
467808/467808 [==============================] - 9s 20us/step - loss: 4.3613e-04 - val_loss: 3.9952e-04
Epoch 9/10
467808/467808 [==============================] - 9s 19us/step - loss: 4.3600e-04 - val_loss: 3.8450e-04
Epoch 10/10
467808/467808 [==============================] - 9s 19us/step - loss: 4.3544e-04 - val_loss: 3.8389e-04

In [71]:
model.save('e_lstm_20.hd5')

In [61]:
from keras.models import load_model
import keras.losses
keras.losses.root_mean_squared_error = root_mean_squared_error
model_20 = model
model_10 = load_model('d_lstm_10.hd5')
model_old = load_model('b_lstm_20.hd5')

In [85]:
def test_model(_model, examples=10000, skip=3000):
    yhat = _model.predict(X_train[skip:skip+examples], batch_size=32)
    expected = list(y[skip:examples+skip])
    pred = [l[0] for l in yhat]
    diff = np.asarray(pred) - np.asarray(expected)
    print(diff.shape)
    err = diff / np.asarray(expected)
    err = err * 100
    buckets = [1, 5, 10, 25, 50, 100, 10000]
    for bucket in buckets:
        print("%.1f percent of data have err < %d percent" % (np.where(err < bucket)[0].size / err.size * 100, bucket))

In [86]:
test_model(model)

(10000,)
91.7 percent of data have err < 1 percent
91.9 percent of data have err < 5 percent
92.2 percent of data have err < 10 percent
92.8 percent of data have err < 25 percent
93.7 percent of data have err < 50 percent
94.7 percent of data have err < 100 percent
99.9 percent of data have err < 10000 percent

In [87]:
test_model(model_10)
test_model(model)
test_model(model_old)
# model_10 has clearly gotten better rating

(10000,)
91.7 percent of data have err < 1 percent
91.9 percent of data have err < 5 percent
92.2 percent of data have err < 10 percent
92.8 percent of data have err < 25 percent
93.6 percent of data have err < 50 percent
94.7 percent of data have err < 100 percent
99.8 percent of data have err < 10000 percent
(10000,)
91.7 percent of data have err < 1 percent
91.9 percent of data have err < 5 percent
92.2 percent of data have err < 10 percent
92.8 percent of data have err < 25 percent
93.7 percent of data have err < 50 percent
94.7 percent of data have err < 100 percent
99.9 percent of data have err < 10000 percent
(10000,)
97.5 percent of data have err < 1 percent
97.7 percent of data have err < 5 percent
97.8 percent of data have err < 10 percent
98.1 percent of data have err < 25 percent
98.5 percent of data have err < 50 percent
98.8 percent of data have err < 100 percent
100.0 percent of data have err < 10000 percent

In [89]:
# for now let's form a submission using this new shift technique
tdf = pd.read_csv('test.csv', index_col=0)
print(tdf.head())
stdf = tdf.groupby('Stock')
print(stdf.count().head())
stdf = stdf.shift()
stdf.fillna(0, inplace=True)
print(stdf.head())
st_X = stdf.loc[:, 'x0':'x6']
print(st_X.head())
st_X = st_X.values
tdf.fillna(0, inplace=True)
tX = tdf.loc[:, 'x0':'x6']
print(tX.head())
tX = tX.values
dt_X = np.divide(tX - st_X, tX, out=np.zeros_like(tX), where=tX!=0)
print(dt_X.shape)
tXx = np.concatenate((tX, dt_X), axis=1)
print("%s + %s = %s" % (tX.shape, dt_X.shape, tXx.shape))
tX = tXx
print(np.where(np.isnan(tX)))
scaler.fit(tX)
print(scaler.data_max_)
tX_std = scaler.transform(tX)
print(tX.shape)
print(tX_std.shape)
tX = tX_std.reshape(tX_std.shape[0], 1, tX_std.shape[1])
yhat = model.predict(tX, batch_size=32)
print(yhat.shape)
yp = pd.Series(yhat.reshape(yhat.shape[0])).rename('y')
yp.index.name = 'Index'
print(yp.head())
yp.to_csv('e_lstm.csv', header=True)

       Market  Day  Stock        x0        x1        x2           x3A  \
Index
0           1   13    363  0.000842  0.436594  0.477848  1.535381e-06
1           1   13   1223  0.020800  0.636143  0.670798  5.204133e-06
2           1   13   1372  0.068580  0.478891  0.481816  5.433730e-08
3           1   13   1942  0.011986  0.463201  0.294900  1.103215e-08
4           1   13   2712  0.000164  0.549980  0.352332  4.494670e-07

                x3B           x3C           x3D           x3E        x4  \
Index
0      4.353950e-06  7.718616e-06  1.632886e-05  3.267851e-05  0.001661
1      9.546012e-06  1.575258e-05  2.804666e-05  1.082500e-05  0.002104
2      1.733539e-07  3.866963e-07  8.520664e-07  2.103176e-06  0.000222
3      3.555558e-08  7.280376e-08  1.364231e-07  3.155050e-07  0.000141
4      8.503405e-07  1.222847e-06  1.901114e-06  4.048304e-06  0.001235

                 x5          x6
Index
0      9.724611e-07  112.968475
1      2.146299e-05  100.000000
2      3.085296e-08  188.335508
3      1.678216e-08  212.123913
4      4.595200e-07  124.024977
       Market  Day   x0   x1   x2  x3A  x3B  x3C  x3D  x3E   x4   x5   x6
Stock
0         128  128  128  127  128  128  128  128  128  128  128  128  128
1          46   46   46   46   46   46   46   46   46   46   46   46   46
2         255  255  255  255  255  255  255  255  255  255  255  255  255
3         255  255  255  255  255  255  255  255  255  255  255  255  255
4         256  256  256  256  256  256  256  256  256  256  256  256  256
       Day  Market   x0   x1   x2  x3A  x3B  x3C  x3D  x3E   x4   x5   x6
Index
0      0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
        x0   x1   x2  x3A  x3B  x3C  x3D  x3E   x4   x5   x6
Index
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
             x0        x1        x2           x3A           x3B           x3C  \
Index
0      0.000842  0.436594  0.477848  1.535381e-06  4.353950e-06  7.718616e-06
1      0.020800  0.636143  0.670798  5.204133e-06  9.546012e-06  1.575258e-05
2      0.068580  0.478891  0.481816  5.433730e-08  1.733539e-07  3.866963e-07
3      0.011986  0.463201  0.294900  1.103215e-08  3.555558e-08  7.280376e-08
4      0.000164  0.549980  0.352332  4.494670e-07  8.503405e-07  1.222847e-06

                x3D           x3E        x4            x5          x6
Index
0      1.632886e-05  3.267851e-05  0.001661  9.724611e-07  112.968475
1      2.804666e-05  1.082500e-05  0.002104  2.146299e-05  100.000000
2      8.520664e-07  2.103176e-06  0.000222  3.085296e-08  188.335508
3      1.364231e-07  3.155050e-07  0.000141  1.678216e-08  212.123913
4      1.901114e-06  4.048304e-06  0.001235  4.595200e-07  124.024977
(640430, 11)
(640430, 11) + (640430, 11) = (640430, 22)
(array([], dtype=int64), array([], dtype=int64))
[2.49628695e+06 9.47911827e+02 1.58954825e+03 1.26154309e-02
 1.03741408e-02 1.04813242e-02 2.58892453e-02 7.09883306e-02
 2.00000000e-01 4.13184117e-02 5.23380512e+05 1.00000000e+00
 1.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 1.00000000e+00 1.00000000e+00 1.00000000e+00 1.00000000e+00
 1.00000000e+00 1.00000000e+00]
(640430, 22)
(640430, 22)
(640430, 1)
Index
0   -0.000058
1   -0.000045
2   -0.000096
3   -0.000098
4   -0.000069
Name: y, dtype: float32